#top-level {
    background-color: #10131a;
}

QPushButton {
    background-color: #1a1e26; border: none;
    font-weight: bold;
    border: none;
    color: #00bcd4;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
QPushButton:hover {
    border: 2px solid #ff00bf;
}
QPushButton:pressed {
    color: #8e24aa;
}
QPushButton[light-on=true] {
    color: black;
    background: #3db4f2;
}
QPushButton[light-on=true]:hover {
    background: #ff00bf;
}
QPushButton[light-on=false] {
    color: white;
}

QLabel {
    color: #ffffff;
}

QGroupBox {
    color: white;
    font-weight: bold;
    border-color: black;
}

