#top-level {
    background-color: #10131a;
}

QPushButton {
    background-color: #1a1e26; border: none;
    font-weight: bold;
    border: none;
    color: #00bcd4;
}
QPushButton:hover {
    color: #ff00bf;
}
QPushButton:pressed {
    color: #8e24aa;
}

QLabel {
    color: #ffffff;
}

QGroupBox {
    color: white;
    font-weight: bold;
    border-color: black;
}
